@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: 20px;
  background-color: aliceblue;
}

.navbar {
  text-align: center;
  background-color: #373f6b;
  color: #f8fafc;
  padding: 15px;
}

.navbar h1 {
  font-size: 24px;
}

.navbar p {
  font-size: 14px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
}

.section-card {
  width: min(600px, calc(100% - 30px));
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}

.url-section,
.result-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-label {
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.input::placeholder {
  color: #999;
}

.input:focus {
  border-color: #2563eb;
  /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08); */
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 12px;
  font-size: 16px;
  width: auto;
  background-color: #2563eb;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-clear {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}

.btn-clear:hover {
  background-color: #c62828;
  color: white;
  border-color: #c62828;
}

.result-section {
  padding: 30px 20px;
}

.result-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: gray;
}

.result-item {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item span {
  display: block;
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}

.result-item strong {
  display: block;
  font-size: 16px;
  word-break: break-word;
}

.result-item a {
  color: #2563eb;
  font-size: 14px;
  word-break: break-all;
  text-decoration: none;
}

.result-item a:hover {
  text-decoration: underline;
}

.error-msg {
  padding: 12px 15px;
  /* border: 1px solid #f5b5b5; */
  border-radius: 6px;
  /* background-color: #fff1f1; */
  color: #c62828;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
